VITE_GOOGLE_CLIENT_ID=client-id.apps.googleusercontent.com
VITE_CLIENT_URL=http://localhost:5000/api
VITE_CLOUDINARY_UPLOAD_PRESET=vaulted
VITE_CLOUDINARY_URL=https://api.cloudinary.com/v1_1/<your_cloud_name>/image/upload
